* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-size: .80em;
}
body a {
  text-decoration: none;
  color: steelblue;
}
aside {
  float: right;
  width: 30%;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-right: 7em;
}
.black-bold a {
  font-weight: bold;
  color: black;
}
.white-bold a {
  font-weight: bold;
  color: white;
}
main {
  width: 75%;
  padding-top: 1em;
  padding-left: 11em;
  padding-right: 7em;
}
footer {
  clear: right;
  background-color: gray;
  text-align: center;
  color: white;
  font-size: 85%;
}
#logo {
  width: 25%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.banner {
  width: 100%;
}
img[src="sidebar-cat.jpg"] {
  width: 100%;
}
#jeremy-quote {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  font-size: 1.4em;
}
#jeremy-sig {
  font-style: italic;
}
.standout {
  color: steelblue;
}
