* {
  box-sizing: border-box;
}
body {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8rem;
}
header {
  background-color: #0099cc;
}
a {
  color: #0099cc;
  text-decoration: none;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1em;
  padding-left: 4em;
  padding-bottom: .5rem;
}
h2 {
  font-weight: normal;
  font-style: italic;
  padding-left: 10em;
  position: relative;
  top: -2rem;
}
section p, figcaption {
  line-height: 1.5rem;
}
.white-text {
  color: white;
}
#header-nav {
  background-color: lightgray;
  margin-bottom: 3rem;
}
#header-nav ul {
  list-style-type: none;
  padding-left: 12rem;
  overflow: hidden;
}
#header-nav li {
  float: left;
}
#header-nav li a {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: .7rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#main-content {
  padding-left: 12rem;
}
.uppercase {
  text-transform: uppercase;
}
.blockquote {
  font-size: 1.5em;
  margin-left: 0em;
  color: #0099cc;
}
.blockquote-text {
  padding-top: 2em;
  line-height: 1.5em;
}
.blockquote-author {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 2em;
}
.blockquote-author::before {
  content: "\2014\0020"
}
aside {
  float: right;
  width: 32rem;
  padding: 0rem 12rem 2rem 5rem;
}
img[src="images/sidebar-cat.jpg"] {
  width: 100%;
}
.no-top-margin {
  margin-top: 0rem;
}
.top-margin {
  margin-top: 4.5em;
}
.left-right-padding {
  padding-left: 12rem;
  padding-right: 12rem;
}
.right-align {
  text-align: right;
}
#resize-lft {
  border: 1px solid #0099cc;
  width: 12em;
  float: left;
  margin-bottom: 2em;
  margin-right: 2em;
}
#resize-rt {
  border: 1px solid #0099cc;
  width: 12em;
  float: right;
  margin-bottom: 2em;
  margin-left: 2em;
}
.clear {
  clear: both;
}
ol {
  font-size: 1.4em;
/*  color: #0099cc; */
}
.blue-txt {
  color: #0099cc;
}
h4 {
  text-align: center;
  text-decoration: underline;
  padding-top: 2em;
}
footer {
  clear: right;
  background-color: #343636;
  margin-top: 4rem;
  padding: 3rem;
  text-align: center;
  font-weight: lighter;
}
figcaption {
  padding-top: 2em;
  padding-bottom: 1em;
}
nav a {
  color: white;
}
#copyright {
  padding-top: 2em;
}
